Repository bcgov/ENV-ALERT, pull requests merged in 2024-09, with the labels that each got.

#4 Keycloak setup Login complete
  docker-compose.yaml
  src/api/express.ts
  src/api/package.json
  src/frontend-pwa/package.json
  src/frontend-pwa/src/components/appNav/LoginButton/LoginButton.tsx
  src/frontend-pwa/src/components/appNav/LoginButton/loginButton.styles.ts
  src/frontend-pwa/src/components/appNav/index.ts
  src/frontend-pwa/src/components/common/Header/Header.tsx
  src/frontend-pwa/src/main.tsx
Labels: Docker, Backend, Frontend

#5 updates to API to support Advisories and fresh database collection and seed data
  .env.template
  OpenShift/templates/wf-api-dc-template.yaml
  OpenShift/templates/wf-app-dc-template.yaml
  README.md
  docker-compose.yaml
  src/api/README.md
  src/api/config/corsConfig.ts
  src/api/config/swaggerConfig.ts
  src/api/controllers/advisory-controller.ts
  src/api/db.ts
  src/api/express.ts
  src/api/models/advisory-model.ts
  src/api/models/index.ts
  src/api/public/routeDocs/advisory.yaml
  src/api/public/schemaDocs/Advisory-Schema.yaml
  src/api/routes/advisory-router.ts
  src/api/routes/index.ts
  src/api/types/Advisory.ts
  src/mongoSeed/init/create-db.js
Labels: Docker, Backend

#6 Add map layers, improve usability
  src/frontend-pwa/src/Type/FeatureResponse.ts
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
Labels: Frontend

#8 Added public and municipal view. Also added some authentication state…
  .env.template
  src/frontend-pwa/src/components/appNav/LoginButton/LoginButton.tsx
  src/frontend-pwa/src/constants/Constants.ts
  src/frontend-pwa/src/services/app/AppActions.ts
  src/frontend-pwa/src/services/app/AppReducer.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/views/Home/Home.tsx
Labels: Frontend

#7 Form fixes
  src/api/models/report-model.ts
  src/api/types/Report.ts
  src/frontend-pwa/index.html
  src/frontend-pwa/package.json
  src/frontend-pwa/src/Type/Report.ts
  src/frontend-pwa/src/components/common/Header/Header.tsx
  src/frontend-pwa/src/components/lists/ReportHistoryListItem/ReportHistoryListItem.tsx
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Backend, Frontend

#9 Add icons
  src/frontend-pwa/public/animal-sighting.png
  src/frontend-pwa/public/swimming-advisory.png
  src/frontend-pwa/public/water-advisory.png
  src/frontend-pwa/src/components/utility/Mapping/Icons.ts
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
Labels: Frontend

#10 Form improvements
  src/api/models/advisory-model.ts
  src/api/models/report-model.ts
  src/frontend-pwa/cypress/e2e/App_Walkthrough.cy.ts
  src/frontend-pwa/src/components/common/Button/Button.tsx
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/components/utility/Mapping/mapping.styles.ts
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/index.css
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/views/Location/Location.tsx
  src/frontend-pwa/src/views/Location/location.styles.ts
  src/frontend-pwa/src/views/Report/Report.tsx
  src/frontend-pwa/src/views/Report/report.styles.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Backend, Frontend

#11 Display advisory list
  src/frontend-pwa/src/Type/Advisory.ts
  src/frontend-pwa/src/Type/AdvisoryArray.ts
  src/frontend-pwa/src/components/lists/AdvisoryListItem/AdvisoryListItem.tsx
  src/frontend-pwa/src/components/lists/AdvisoryListItem/advisorylistitem.styles.ts
  src/frontend-pwa/src/components/lists/index.ts
  src/frontend-pwa/src/routes/ViewRouter.tsx
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/utils/CalcDistance.ts
  src/frontend-pwa/src/views/Advisory/Advisory.tsx
  src/frontend-pwa/src/views/Advisory/advisory.styles.ts
  src/frontend-pwa/src/views/BCServices/BCServices.tsx
  src/frontend-pwa/src/views/BCServices/bcservices.styles.ts
  src/frontend-pwa/src/views/Home/Home.tsx
Labels: Frontend

#12 map and icons on advisory list page
  src/frontend-pwa/src/components/utility/Mapping/Mapping.tsx
  src/frontend-pwa/src/views/Advisory/Advisory.tsx
  src/frontend-pwa/src/views/Report/Report.tsx
Labels: Frontend

#13 Clean up
  src/frontend-pwa/src/components/common/Footer/Footer.tsx
  src/frontend-pwa/src/components/lists/AdvisoryListItem/AdvisoryListItem.tsx
  src/frontend-pwa/src/content/content.ts
  src/frontend-pwa/src/services/app/useAppService.ts
  src/frontend-pwa/src/views/Settings/Settings.tsx
Labels: Frontend
